@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Varela+Round&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
}

body{
    background-color: rgb(41, 9, 9);
    /* background-color: rgb(56, 29, 29); */
    /* background: rgba(255, 0, 0, 0.4); */
}

.main-container{
    display: flex;
    /* justify-content: center; */
    height: 100vh;
    width: 100vw;
}

.sec-I{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(56, 29, 29); */
    height: 100vh;
    width: 55vw;
}

.sec-I img{
    width:40rem ;
}

.sec-II{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Varela Round', sans-serif;
    height: 100vh;
    width: 45vw;
}

.sec-II .main-login{
    position: relative;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3.5rem;
    border-radius: 1rem;
    color: white;
    /* background: rgba(255, 0, 0, 0.26); */
    /* background-color: #2F2E41; */
}

.main-login h1{
    color: white;
    margin-bottom: 2.5rem;
}

.inputBox{
    position: relative;
}

.inputBox input{
    width: 100%;
    padding: 0.7rem;
    font-size: 1rem;
    color: white;
    /* letter-spacing: 0.7rem; */
    margin-bottom: 1.3rem;
    border: none;
    border-bottom: 0.2rem solid white;
    background: transparent;
    outline: none;
    position: relative;
}

.inputBox label{
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.9rem 0;
    color: white;
    transition: 0.5s;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form input[type="submit"] {
    background: transparent;
    border: none;
    outline: none;
    background-color:#03a9f4 ;
    color: white;
    padding: 0.9rem 1rem;
    font-size: 0.9rem;
    border-radius: 0.5rem;

}

form input[type="submit"] {
    cursor: pointer;
}

.inputBox input:focus ~ label,
.inputBox input:valid ~ label {
    top: -1.3rem;
    left: 0;
    font-size: 0.8rem;
    color: #03a9f4;
}

/* // Extra small devices (portrait phones, less than 576px) */
@media (min-width: 320px) and (max-width: 498px) {
    .main-container{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100vw;
    }
    .sec-I img{
        width:8rem ;
    }

    .sec-II{
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Varela Round', sans-serif;
        height: 100vh;
        width: 40vw;
    }

    .sec-II .main-login{
        position: relative;
        height: 50vh;
        /* width: 7rem; */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 1.5rem;
        border-radius: 1rem;
        color: white;
        /* background: rgba(255, 0, 0, 0.26); */
    }
    
    .main-login h1{
        font-size: 1.1rem;
        color: white;
        margin-bottom: 1.5rem;
        text-align: center;
    }
    
    .inputBox{
        position: relative;
    }
    
    .inputBox input{
        width: 100%;
        padding: 0.7rem;
        font-size: 1rem;
        color: white;
        /* letter-spacing: 0.7rem; */
        margin-bottom: 1.3rem;
        border: none;
        border-bottom: 0.1rem solid white;
        background: transparent;
        outline: none;
        position: relative;
    }

    form input[type="submit"] {
        background: transparent;
        border: none;
        outline: none;
        background-color:#2d3133 ;
        color: white;
        padding: 0.5rem 0.7rem;
        font-size: 0.9rem;
        border-radius: 0.5rem;
        width: 80%;
    
    }
}
@media (min-width: 500px) and (max-width: 768px)  {
    .sec-I img{
        width:17rem ;
    }

    .sec-II{
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Varela Round', sans-serif;
        height: 100vh;
        width: 38vw;
    }

    .sec-II .main-login{
        position: relative;
        height: 70vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 2rem;
        border-radius: 1rem;
        color: white;
        /* background: rgba(255, 0, 0, 0.26); */
    }
    
    .main-login h1{
        font-size: 1.7rem;
        color: white;
        margin-bottom: 1.5rem;
        text-align: center;
    }
    
    .inputBox{
        position: relative;
    }
    
    .inputBox input{
        width: 100%;
        padding: 0.7rem;
        font-size: 1rem;
        color: white;
        /* letter-spacing: 0.7rem; */
        margin-bottom: 1.3rem;
        border: none;
        border-bottom: 0.1rem solid white;
        background: transparent;
        outline: none;
        position: relative;
    }

    form input[type="submit"] {
        background: transparent;
        border: none;
        outline: none;
        background-color:#03a9f4 ;
        color: white;
        padding: 0.5rem 0.7rem;
        font-size: 0.9rem;
        border-radius: 0.5rem;
        width: 80%;
    
    }
}
    

@media (min-width: 769px) and (max-width: 1024px)  {
    .sec-I img{
        width:30rem ;
    }

    .sec-II{
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Varela Round', sans-serif;
        height: 100vh;
        width: 45vw;
    }

    .sec-II .main-login{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 2.5rem;
        border-radius: 1rem;
        color: white;
        /* background: rgba(255, 0, 0, 0.26); */
    }
    
    .main-login h1{
        font-size: 1.7rem;
        color: white;
        margin-bottom: 1.5rem;
        text-align: center;
    }
    
    .inputBox{
        position: relative;
    }
    
    .inputBox input{
        width: 100%;
        padding: 0.7rem;
        font-size: 1rem;
        color: white;
        /* letter-spacing: 0.7rem; */
        margin-bottom: 1.3rem;
        border: none;
        border-bottom: 0.1rem solid white;
        background: transparent;
        outline: none;
        position: relative;
    }

    form input[type="submit"] {
        background: transparent;
        border: none;
        outline: none;
        background-color:#03a9f4 ;
        color: white;
        padding: 0.5rem 0.7rem;
        font-size: 0.9rem;
        border-radius: 0.5rem;
        width: 80%;
    
    }
}
    